.content {
  display: grid;
  grid-template-columns: 60% 40%;
  /* Criação de 2 colunas cada uma 
    ocupando uma porcentagem da tela */

  grid-template-rows: 11.4rem 1fr;
  /* Criação de 2 linhas a primeira 
    com 11.4rem(114px) e a segunda
    com 1fr(ocupa o que sobrou, pois
    divide em 1fração) */

  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;

  background: url("../images/home-bg-img.svg") no-repeat top/contain;
  /* 'url()' chama a imagem */
  /* 'no-repeat' pra imagem chamada não se
  replicar mais de uma vez */
  /* 'top/contain' se alinhar a partir do topo e
  se encaixar ao tamanho da 'div' que se encontra */
  background-position-x: -10rem;
  /* 'background-positio-x' vai mover apenas a imagem,
  aoo invés de movimentar a 'div' inteira, com um 
  'margin-left' por exemplo, e é claro por não mover a 
  'div' inteira, não gera o 'scroll'. O 'x' ou o 'y'
  é o eixo que o elemento vai se mover.*/
}

main {
  grid-area: right;

  display: flex;
  align-items: center;
  margin-top: -12rem;
}

main .container {
  width: min(36.3rem, 100%);
  /* 'min(36.3rem 100%)' sempre dara
    preferência ao menor, neste caso o '36.3rem'
    porém se oo '100%' começar a ser o menor
    a função escolhe ele*/
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
  outline: none;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

/* SEPARATOR LINE */
.separator {
  display: flex;
  align-items: center;

  margin: 4rem 0;
}

.separator div:nth-child(2) {
  color: var(--grey-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 1.35rem;
  line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
  /* 'nth-child' vai pegar o filho dentro do 'separator'
  que é uma 'div:', passando nos parâmetros a posição. */
  background: var(--grey-blue);
  width: 100%;
  height: 1px;
}

/* CREATE BALLS */
.ball {
  width: 21.2rem;
  height: 21.2rem;
  background: var(--blue);
  clip-path: circle();
  /* 'clap-path: circle()' cria o circulo*/
  opacity: 0.1;

  position: fixed;
}

.ball.top {
  top: -46rem;
  right: -35rem;
  width: 63.3rem;
  height: 63.3rem;
}

.ball.bottom {
  bottom: -15rem;
  right: 5.6rem;
}
